<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body><h1>Expected Price</h1>
  <p>
    weight is: <%= weight%> oz
  </p>
  <p>
    type is: <%= type%>
  </p>
  <p>
  price is $ <%= price%>
  </p>

  </body>
</html>
